@charset "UTF-8";

/* 回答はここに書いてね */

.content-box{
  width:225px;
  box-sizing: border-box;
  margin-left:50px;
  font-size: 16px;
}
.float{
  float: left;
  margin-left:50px;
}

.float:first-child{
  margin-left: 0;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;

}

.table-wrapper{
  display: table;

}
.table-content{
  display: table-cell;
  vertical-align: middle;
}

.table-left{
  margin-left: 0;
}


.inline-block{
  display: inline-block;
  vertical-align: middle;
  width:222px;

}
.inline-block:first-child{
  margin-left:0;
}

.flexbox{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.flex-content{
  width:225px;
  box-sizing: border-box;
}

.content-wrapper{
  /* text-align: center; */
  font-size: 0;
  width:100%;
  box-sizing: border-box;
}

.stable{
  display: inline-block;
  width: 300px;
  /* margin-right: 50px; */
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: top;
}

.flexible{
  display: inline-block;
  width:100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  font-size: 16px;
}
/* 回答はここに書いてね */
