@charset "UTF-8";

/* 回答はここに書いてね */
.contents-wrapper {
  width: 500px;
  margin: 0 auto;
  border: 5px solid #222;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}

.contents-wrapper:before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color: #222;
}

.contents-wrapper:after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color: #fff;
}

/* 回答はここに書いてね */
