@charset "UTF-8";

/* 回答はここに書いてね */
table{
  table-layout: fixed;
  width:100%;
  padding: 10px;
  border: solid #dedede 1px;
}

table th{
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding: 10px 0;
  border: solid #dedede 1px;
}
table td{
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0;
  border: solid #dedede 1px;
}

table tr{
  text-align: center;
  padding: 10px;
}
tr:nth-child(odd){
  background-color:#ecf1f2 ;
}
tr:last-child{
  background-color: #fff;
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
