@charset "UTF-8";

/* 回答はここに書いてね */
table {
  table-layout: fixed;
  width: 100%;
  border: solid #dedede 1px;
}

table th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding: 10px;
  border: solid #dedede 1px;
  text-align: center;
  vertical-align: middle;
}

table td {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
  padding: 10px;
  border: solid #dedede 1px;
}

table tr {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color:#ecf1f2 ;
}

tbody tr:last-child {
  background-color: #fff;
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
