@charset "UTF-8";

/* 回答はここに書いてね */
.image {
  width: 500px;
  height: 333px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.text {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  word-break: break-all;
  padding: 20px;
}

.text-wrapper {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}

.image:hover .yellow-car {
  transform: scale(1.5);
}

.yellow-car {
  transition: all 0.5s;
}

.image:hover .text-wrapper {
  bottom: 0;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border-top: 10px solid #ecf1f2;
  border-right: 10px solid #ecf1f2;
  border-bottom: 10px solid #ecf1f2;
  border-left: 10px solid #00bcd4;
  animation: load 1s infinite linear;
}


@keyframes load {
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}


/* 回答はここに書いてね */
